.card-container {
  text-align: center;
  width: 130px;
}

.card-selected {
  border: 1px solid gray;
  border-radius: 5px;
}

@media only screen and (max-width: 480px) {
  .card-container {
    width: 80px;
  }
}

@media (max-width: 1280px) {
  .card-img {
    width: 50px;
    height: 50px;
  }
}
