.heading {
  font-size: 25px;
  background: rgb(70, 75, 106);
  font-weight: 400;
  color: white;
  padding-left: 25px;
  line-height: 2;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  .heading {
    font-size: 20px;
    text-align: center;
  }
}
