.select {
  border: 1px solid rgb(193, 188, 188);
}

.submit-btn {
  cursor: pointer;
  width: 75px;
  padding: 0 20px;
  background: #fff;
  line-height: 2.5;
  border: 1px solid rgb(193, 188, 188);
}

input {
  border: 1px solid rgb(193, 188, 188);
  line-height: 2.5;
  padding: 0 20px;
  width: 400px;
}

.search-by {
  border: 1px solid rgb(193, 188, 188);
  padding: 0 0 1px 10px;
  background: rgb(223, 222, 222);
}
