select {
  box-sizing: border-box;
  border: 1px solid rgb(193, 188, 188);
  padding: 8px 5px;
  background: white;
}

.invisible {
  display: none;
}

input {
  border: 1px solid rgb(193, 188, 188);
  line-height: 2.5;
  padding: 0 20px;
  width: 400px;
}

.submit-btn {
  cursor: pointer;
  width: 75px;
  padding: 0 20px;
  background: #fff;
  line-height: 2.5;
  border: 1px solid rgb(193, 188, 188);
}

.search-container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  input {
    width: 200px;
  }
  .search-container {
    justify-content: center;
  }
}
