.main-container {
  padding: 15px 20px;
  color: gray;
  line-height: 0.3;
  font-size: 18px;
}

.location {
  font-size: 30px;
}

.container2 {
  display: flex;
  align-items: center;
  /* border: red 1px solid; */
  justify-content: space-around;
}
.container2a {
  display: flex;
  /* align-items: center; */
  /* border: red 1px solid; */
}
.container2b {
  /* align-items: center; */
  /* border: red 1px solid; */
}

img {
  width: 90px;
  height: 90px;
  margin: 0px 15px;
}

.temperature {
  line-height: 1;
  color: black;
  font-size: 70px;
}

.temp-button,
.temp-button button {
  color: gray;
  font-size: 25px;
  border: none;
  padding: 0;
  background: #fff;
  padding-bottom: 10px;
}
.container3 {
  margin-left: 100px;
}
.temp-selected {
  text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 480px) {
}
@media (min-width: 481px) and (max-width: 767px) {
}
@media (max-width: 654px) {
  .container2 {
    flex-direction: column;
  }
  .container2a {
    flex-direction: column;
  }
  .container2a p {
    text-align: center;
  }
  .temperature {
    font-size: 45px;
  }
  .temp-button {
    color: gray;
    font-size: 25px;
    border: none;
    text-align: center;
    padding: 0;
    background: #fff;
    padding-bottom: 0px;
    margin: 10px 0;
  }
}

@media (min-width: 655px) and (max-width: 1186px) {
  .container2 {
    flex-direction: column;
  }
  .container2a {
    flex-direction: row;
  }
  .temperature {
    font-size: 55px;
  }
  .temp-button {
    color: gray;
    font-size: 25px;
    border: none;
    padding: 0;
    background: #fff;
    padding-bottom: 10px;
  }
}
